copy_command "xclip -selection clipboard"
//default_shell "zsh"
mirror_session false
mouse_mode true
scroll_buffer_size 10000
pane_frames true
ui {
	pane_frames {
		rounded_corners true
	}
}
keybinds {
    shared {
        unbind "Ctrl q"
        unbind "Ctrl b"
        unbind "Ctrl g"
        unbind "Ctrl o"
        unbind "Ctrl s"
        bind "Ctrl x" {SwitchToMode "session"; }
        bind "Ctrl f" {SwitchToMode "scroll"; }
    }
    scroll {
        bind "Ctrl f" {SwitchToMode "normal"; }
    }
    session {
        bind "q" { Quit; }
    }
    search {
        bind "Ctrl f" {SwitchToMode "normal"; }
        bind "N" { Search "up"; }
        bind "/" { SwitchToMode "entersearch"; }
    }
    pane {
        unbind "c"
        unbind "d"
        unbind "p"
        bind "v" { NewPane "Right"; SwitchToMode "normal"; }
        bind "s" { NewPane "Down"; SwitchToMode "normal"; }
        bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0; }
    }
    normal {
        bind "Alt i" "Alt v" { NewPane "Right"; }
        bind "Alt o" "Alt s" { NewPane "Down"; }
    }
}
