copy_command "xclip -selection clipboard"
default_shell "zsh"
pane_frames true
ui {
	pane_frames {
		rounded_corners true
	}
}
keybinds {
    shared {
        unbind "Ctrl q"
        unbind "Ctrl b"
    }
    session {
        bind "q" { Quit; }
    }
    pane {
        unbind "c"
        unbind "d"
        unbind "p"
        unbind "z"
        bind "v" { NewPane "Right"; SwitchToMode "normal"; }
        bind "s" { NewPane "Down"; SwitchToMode "normal"; }
        bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0; }
    }
    normal {
        bind "Alt v" { NewPane "Right"; }
        bind "Alt s" { NewPane "Down"; }
    }
}
