layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    swap_tiled_layout name="default" {
        tab exact_panes=4 {
            pane split_direction="vertical" {
                pane
                pane
            }
        }
        tab exact_panes=5 {
            pane split_direction="vertical" {
                pane
                pane split_direction="horizontal" {
                    pane
                    pane
                }
            }
        }
        tab exact_panes=6 {
            pane split_direction="vertical"
            pane split_direction="vertical"
        }
        tab exact_panes=10 {
            pane split_direction="horizontal" {
                pane
                pane
            }
        }
        tab {
            pane split_direction="vertical" {
                pane split_direction="horizontal" {
                    pane split_direction="horizontal" {
                        pane
                        pane
                    }
                }
                pane split_direction="horizontal" {
                    pane split_direction="horizontal" {
                        pane
                        pane
                    }
                }
                pane split_direction="horizontal" {
                    pane split_direction="horizontal" {
                        pane
                        pane
                    }
                }
            }
        }
    }
    swap_tiled_layout name="vertical" {
        tab {
            pane split_direction="vertical" {
                pane
                pane
            }
        }
        tab exact_panes=5 {
            pane split_direction="vertical" {
                pane
                pane
                pane
            }
        }
    }
    swap_tiled_layout name="horizontal" {
        tab {
            pane split_direction="horizontal" {
                pane
                pane
            }
        }
    }
}
